
@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">
    <h1>Mis CV</h1>
    <p>Consulta y crea tus CV.</p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">CV 1</h4>
                    <p class="card-text">Visualiza tu CV.</p>
                    <a href="#" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Añadir nuevo</h4>
                    <p class="card-text">Crea un nuevo CV.</p>
                    <a href="#" class="btn btn-primary">Crear CV</a>
                </div>
            </div>
        </div>

    </div>
</div>

