
@{
    ViewBag.Title = "   Moduloscv";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Mis CV</h1>
                <p>Consulta y crea tus CV.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="Carousel" class="carousel slide">



                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3"><a href="~/DatosAdicionales/" class="thumbnail"><img src="~/Content/images/modulos-img/Datosadicionales_ss.jpg" alt="Image" style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="~/Educacion/" class="thumbnail"><img src="~/Content/images/modulos-img/Estudios_1_ss.jpg" alt="Image" style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="~/Experiencia/" class="thumbnail"><img src="~/Content/images/modulos-img/Experiencia_5_ss.jpg" alt="Image" style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="~/Hobbies/" class="thumbnail"><img src="~/Content/images/modulos-img/Hobbies_2ss-ConvertImage.jpg" alt="Image" style="max-width:100%;"></a></div>
                        </div><!--.row-->
                    </div><!--.item-->

                    <div class="item">
                        <div class="row">
                            <div class="col-md-3"><a href="~/Idiomas/" class="thumbnail"><img src="~/Content/images/modulos-img/Idiomas_2_ss.jpg" alt="Image" style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="~/Skills/" class="thumbnail"><img src="~/Content/images/modulos-img/skills_ss.jpg" alt="Image" style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="~/DatosPersonales/" class="thumbnail"><img src="~/Content/images/modulos-img/Datospersonales_ss2.jpg" alt="Image" style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="~/Presentacion/" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                        </div><!--.row-->
                    </div><!--.item-->

                </div><!--.carousel-inner-->
                <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
            </div><!--.Carousel-->

        </div>
    </div>
</div><!--.container-->
