@model PlayYourCV.Models.Contenido

@{
    string titulo = (string)ViewData["Titulo"];
}

<h2>@titulo</h2>
<form action="/Idiomas/Create" method="post">
    <div class="form-horizontal">

        <div class="form-group">
            <label for="Nombre">Nombre:</label>
            <input type="text" class="form-control" name="Nombre" value="" />
        </div>

        <div class="form-group">
            <label for="Hablado">Nivel Hablado:</label>
            <input type="text" class="form-control" name="Hablado" value="" />
        </div>

        <div class="form-group">
            <label for="Escrito">Nivel Escrito:</label>
            <input type="text" class="form-control" name="Escrito" value="" />
        </div>

        <div class="form-group">
            <label for="Leido">Nivel Leido:</label>
            <input type="text" class="form-control" name="Leido" value="" />
        </div>

        <div class="form-group">
            <label for="NivelGeneral">Nivel General:</label>
            <input type="text" class="form-control" name="NivelGeneral" value="" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Añadir" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>