
@{
    ViewData["Title"] = "Index";
    string lvlProgress = ViewData["lvlProgress"].ToString();
    string lvlImg = ViewData["imgLvlRoute"].ToString();
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10">
            <h2>Mis Logros</h2>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <img src="~/Content/images/Logros/Iniciandoaventura-01.png" alt="" class="img-responsive" style="width: 200px; display:inline-flex; margin-top: 20px;" />
            </div>
        </div>

    </div>
</div>

<script>
    progBar = document.getElementById("progressBarLvl");
    progBar.style.width = @lvlProgress+"%";
    progBar.innerHTML +=@lvlProgress+"%";
    document.getElementById("imgLvl").src ='@lvlImg';
</script>