
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="~/Content/images/Logros/Iniciandoaventura-01.png" alt="" class="img-responsive" style="width: 200px; display:inline-flex; margin-top: 20px;" />
        </div>
        
    </div>
</div>