@{
    if (String.IsNullOrEmpty(Session["logged"] as String))
    {
        ViewBag.UserIsLogged = false;
        ViewData["Title"] = "Home Page";
    }
    else
    {
        ViewBag.UserIsLogged = true;
        ViewBag.Logged = Session["logged"] as String;
        ViewBag.LoggedId = Session["loggedid"] as String;
        ViewData["Title"] = "Hola " + ViewBag.Logged;
    }


}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlayYourCV</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/Content/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/Content/css/site.css" />
        <link rel="shortcut icon" href="~/Content/images/playyourcvlogo1.png" type="image/x-icon">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/Content/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/Content/css/site.min.css" asp-append-version="true" />
    </environment>
    <!-- Google Fonts -->

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <!-- Css creado por Ares -->

    <link href="~/Content/css/Varios/StylesAres.css" rel="stylesheet" type="text/css">

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home"><div class="logo"><img src="~/Content/images/playyourcvlogo.png" alt="Visual Studio" class="img-responsive" /></div></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li><a href="~/DatosPersonales/">Mi perfil</a></li>
                    <li>
                        <a href="~/Cvs/">Mis cvs</a>
                        <ul>
                            <li><a href="~/Cvs/Moduloscv">Modulos Cv</a></li>
                        </ul>
                    </li>
                    <li><a href="~/Objetivos/">Mis Objetivos</a></li>
                    <li><a href="~/Logros/">Mis logros</a></li>
                    <li><a href="~/Login/Logout">Logout</a></li>
                </ul>
                <div class="logo_lvl">
                    <h2>10</h2>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - PlayYourCV</p>
        </footer>

    </div>

    <environment include="Development">
        <script src="~/Content/lib/jquery/dist/jquery.js"></script>
        <script src="~/Content/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/Content/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/Content/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/Content/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/Content/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
