
@{
    ViewData["Title"] = "Index";
}

<h2>LOGIN</h2>

<form class="login-form" action="" method="post">
    <input type="text" class="input" id="user_login" autocomplete="off" placeholder="Email">
    <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Contraseña">
    <input type="submit" class="button" value="Login">
</form>

