@{ 
    if (String.IsNullOrEmpty(Session["logged"] as String))
    {
        ViewBag.UserIsLogged = false;
        ViewData["Title"] = "Home Page";
    }
    else
    {
        ViewBag.UserIsLogged = true;
        ViewBag.Logged = Session["logged"] as String;
        ViewBag.LoggedId = Session["loggedid"] as String;
        ViewData["Title"] = "Hola "+ViewBag.Logged;
    }

   
}

<div class="container">

    <div class="row">

        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">


                <div class="row">
                    <div class="col-lg-12">
                        <img src="~/Content/images/mascota/Robot_1.png" alt="" class="img-responsive" style="width: 150px; display:inline-flex; margin-top: 20px;" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h1 style="font-size:3em; font-family: quicksand">Construye tu futuro</h1>
                    </div>
                </div>


                <p>¡Es hora de darle al play!</p>

        </section>



        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

            <figure class="effect-oscar">

                <img src="~/Content/images/home-images/miscvs-ss.jpg" alt="" class="img-responsive" />

                <figcaption>

                    <h2>Mis <span> Curriculums</span></h2>

                    <p>Crea y personaliza tus propios CV</p>

                    <a href="~/Cvs/Moduloscv">Mis cvs</a>

                </figcaption>

            </figure>

        </section>



        <div class="clearfix"></div>



        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

            <ul class="grid-lod effect-2" id="grid">

                <li>

                    <figure class="effect-oscar">

                        <img src="~/Content/images/home-images/Objetivos_1.jpg" alt="" class="img-responsive" />

                        <figcaption>



                            <h2>Mis <span>Objetivos</span></h2>

                            <p>Proyecta tu futuro, busca tus objetivos</p>

                            <a href="~/Objetivos">Mis Objetivos</a>



                        </figcaption>

                    </figure>

                </li>


            </ul>

        </section>



        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

            <ul class="grid-lod effect-2" id="grid">

                <li>

                    <figure class="effect-oscar">

                        <img src="~/Content/images/home-images/logros.jpg" alt="" class="img-responsive" />

                        <figcaption>

                            <h2>Mis <span>Logros</span></h2>

                            <p>Consulta tus logros</p>

                            <a href="~/Logros">Mis logros</a>

                        </figcaption>

                    </figure>



            </ul>

        </section>

        <div class="clearfix"></div>

    </div>
</div>