@{ 
    if (String.IsNullOrEmpty(Session["logged"] as String))
    {
        ViewBag.UserIsLogged = false;
        ViewData["Title"] = "Home Page";
    }
    else
    {
        ViewBag.UserIsLogged = true;
        ViewBag.Logged = Session["logged"] as String;
        ViewBag.LoggedId = Session["loggedid"] as String;
        ViewData["Title"] = "Hola "+ViewBag.Logged;
    }

   
}
<div class="row">



    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

        <article role="pge-title-content">

            <header>

                <h2><img src="~/Content/images/playyourcvlogo1.png" title="PlayYourCV" alt="PlayYourCV" width="100px"/>Construye tu futuro.</h2>

            </header>

            <p>This is the story of Avana, a minimal Bootstrap template for creative agency.</p>

        </article>

    </section>



    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

        <figure class="effect-oscar">

            <img src="~/Content/images/home-images/image-1.jpg" alt="" class="img-responsive" />

            <figcaption>

                <h2>Mis <span> Curriculums</span></h2>

                <p>Crea y personaliza tus propios CV.</p>

                <a asp-area="" asp-controller="Cvs" asp-action="Index">Mis cvs</a>

            </figcaption>

        </figure>

    </section>



    <div class="clearfix"></div>



    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

        <ul class="grid-lod effect-2" id="grid">

            <li>

                <figure class="effect-oscar">

                    <img src="~/Content/images/home-images/image-2.jpg" alt="" class="img-responsive" />

                    <figcaption>



                        <h2>Mis <span>Objetivos</span></h2>

                        <p>Projecta tu futuro, busca tus objetivos.</p>

            <a asp-area="" asp-controller="Objetivos" asp-action="Index">Mis Objetivos</a>



            </figcaption>

            </figure>

            </li>


        </ul>

    </section>



    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

        <ul class="grid-lod effect-2" id="grid">

            <li>

                <figure class="effect-oscar">

                    <img src="Content/images/home-images/image-4.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>Mis <span>Logros</span></h2>

                        <p>Consulta tus logros</p>

            <a asp-area="" asp-controller="Logros" asp-action="Index">Mis logros</a>

            </figcaption>

            </figure>



        </ul>

    </section>

    <div class="clearfix"></div>

</div>
          