@{
    ViewData["Title"] = "Home Page";
}
<div class="row">



    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

        <article role="pge-title-content">

            <header>

                <h2><img src="~/images/playyourcvlogo.png" title="PlayYourCV" alt="PlayYourCV" width="500px"/>Construye tu futuro.</h2>

            </header>

            <p>This is the story of Avana, a minimal Bootstrap template for creative agency.</p>

        </article>

    </section>



    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

        <figure class="effect-oscar">

            <img src="images/home-images/image-1.jpg" alt="" class="img-responsive" />

            <figcaption>

                <h2>Mis <span> Curriculums</span></h2>

                <p>Crea y personaliza tus propios CV.</p>

                <a asp-area="" asp-controller="Cvs" asp-action="Index">Mis cvs</a>

            </figcaption>

        </figure>

    </section>



    <div class="clearfix"></div>



    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

        <ul class="grid-lod effect-2" id="grid">

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-2.jpg" alt="" class="img-responsive" />

                    <figcaption>



                        <h2>Mis <span>Objetivos</span></h2>

                        <p>Projecta tu futuro, busca tus objetivos.</p>

                        <a href="works-details.html">View more</a>



                    </figcaption>

                </figure>

            </li>


        </ul>

    </section>



    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

        <ul class="grid-lod effect-2" id="grid">

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-3.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>Mis <span>Logros</span></h2>

                        <p>Consulta tus logros</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>



        </ul>

    </section>

    <div class="clearfix"></div>

</div>
          