@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta charset="utf-8">

    <!-- Description, Keywords and Author -->

    <meta name="description" content="">

    <meta name="author" content="">

    <title>@ViewBag.Title - Play your CV</title>
    <link rel="stylesheet" href="~/Content/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/css/site.css" />


    <link rel="shortcut icon" href="Content/images/playyourcvlogo1.png" type="image/x-icon">

    <!-- style -->

    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css">

    <!-- style -->
    <!-- bootstrap -->

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- responsive -->

    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css">

    <!-- font-awesome -->

    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- font-awesome -->

    <link href="~/Content/css/effects/set2.css" rel="stylesheet" type="text/css">

    <link href="~/Content/css/effects/normalize.css" rel="stylesheet" type="text/css">

    <link href="~/Content/css/effects/component.css" rel="stylesheet" type="text/css">
    <!-- Google Fonts -->

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<style>
    img {
        text-align: center;
        content-aling: center;
        display: inline-block;
    }
</style>
<body>
    <!-- header -->

    <header role="header">

        <div class="container">

            <!-- logo -->

            <h1>
                
                <a href="" title="PlayYourCV"><img src="~/Content/images/playyourcvlogo.png" title="PlayYourCV" alt="PlayYourCV" width="400px" /></a>

            </h1>

            <!-- logo -->
            <!-- nav -->

            <nav role="header-nav" class="navy">

                <ul>

                    <li><a href="~/DatosPersonales">Mi perfil</a></li>
                    <li>
                        <a href="~/Cvs">Mis cvs</a>
                        <ul>
                            <li><a href="~/Cvs/Moduloscv">Modulos Cv</a></li>
                        </ul>
                    </li>
                    <li><a href="~/Objetivos">Mis Objetivos</a></li>
                    <li><a href="~/Logros">Mis logros</a></li>
                    <li><a href="~/Login/Logout">Logout</a></li>

                </ul>

            </nav>

            <!-- nav -->

        </div>

    </header>

    <main role="main-home-wrapper" class="container">
        @RenderBody()
        <hr />

    </main>

    <footer role="footer">

        <!-- logo -->
        <!-- logo -->
        <!-- nav -->

        <nav role="footer-nav">

            <ul>

                <li><a href="Home/">Home</a></li>
                <li><a href="~/DatosPersonales/">Mi perfil</a></li>
                <li><a href="~/Cvs/">Mis cvs</a></li>
                <li><a href="~/Objetivos/">Mis Objetivos</a></li>
                <li><a href="~/Logros/">Mis logros</a></li>
                <li><a href="~/Login/">Logout</a></li>

            </ul>

        </nav>

        <!-- nav -->

        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>

    </footer>

    <!-- footer -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="Content/js/jquery.min.js" type="text/javascript"></script>
    
    <!-- custom -->

    <script src="~/Content/js/nav.js" type="text/javascript"></script>

    <script src="~/Content/js/custom.js" type="text/javascript"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="~/Content/js/effects/masonry.pkgd.min.js" type="text/javascript"></script>

    <script src="~/Content/js/effects/imagesloaded.js" type="text/javascript"></script>

    <script src="~/Content/js/effects/classie.js" type="text/javascript"></script>

    <script src="~/Content/js/effects/AnimOnScroll.js" type="text/javascript"></script>

    <script src="~/Content/js/effects/modernizr.custom.js"></script>

    <!-- jquery.countdown -->

    <script src="~/Content/js/html5shiv.js" type="text/javascript"></script>

</body>

</html>