@model PlayYourCV.Models.Contenido

@{
    string titulo = (string)ViewData["Titulo"];
}

<h2>@titulo</h2>
<form action="/Educacion/Create" method="post">
    <div class="form-horizontal col-md-12">
        <div class="form-group col-md-12">
            <label for="Nombre">Nombre:</label>
            <input type="text" class="form-control" name="Nombre" value="" />
        </div>

        <div class="form-group col-md-12">
            <label for="Descripcion">Descripcion:</label>
            <input type="text" class="form-control" name="Descripcion" value="" />
        </div>

        <div>
            <div class="form-group col-md-5">
                <label for="EmpresaEscuela">Escuela:</label>
                <input type="text" class="form-control" name="EmpresaEscuela" value="" />
            </div>

            <div class="form-group col-md-offset-2 col-md-5">
                <label for="Lugar">Lugar:</label>
                <input type="text" class="form-control" name="Lugar" value="" />
            </div>
        </div>

        <div>
            <div class="form-group col-md-5">
                <label for="FechaInicio">Fecha Inicio:</label>
                <input type="date" class="form-control" name="FechaInicio" value="" />
            </div>

            <div class="form-group col-md-offset-2 col-md-5">
                <label for="FechaFin">Fecha Fin:</label>
                <input type="date" class="form-control" name="FechaFin" value="" />
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
