@model IEnumerable<PlayYourCV.Models.Contenido>

@{
    string titulo = (string)ViewData["Titulo"];
    List<PlayYourCV.Models.Contenido> listaEducacion = (List<PlayYourCV.Models.Contenido>)ViewData["listaIdiomas"];
}

<h2>@titulo</h2>
@{ 
    if (listaEducacion!=null)
    {
        foreach (PlayYourCV.Models.Contenido c in listaEducacion)
        {

        }
    }
}
