
@model PlayYourCV.Models.Objetivo

@{
    PlayYourCV.Models.Objetivo objetivo = (PlayYourCV.Models.Objetivo)ViewData["listaObjetivos"];
}
<div containerObjetivos">

            <form id="elform" action="/Objetivos/Editar" method="post">
                <input name="__llista" type="hidden" id="ocult">
            </form>

            <div id="lista">
                @Html.Raw(objetivo.Descripcion)
            </div>

            <div class="buttom">
                <button id="guardar" class="guardar btn btn-primary">Guardar</button>
            </div>

</div>

<!-- Modal añadir -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Entra un objetivo</p>
                <input placeholder="Entra un objetivo" class="form-control" id="textoEntrado">
                <button id="botonOK" class="btn btn-success" data-dismiss="modal">Aceptar</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal Editar -->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Edita tú objetivo</p>
                <input placeholder="Edita tú objetivo" class="form-control" id="textoEditado">
                <span>
                    <button id="botonOKEdit" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                    <button class="eliminar btn btn-danger"><i class="fa fa-trash" data-dismiss="modal"></i></button>
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    var index;
    var valorEntrada;
    var idPadre;
    var idPropio;

    //Registra el click en el botó add per saber on afegir l'element
    $(document).on("click", ".add", function () {
        //posició on està el botó
        index = $(this).index();
        idPadre = $(this).parent().parent().attr('id');
    });

    //Click en el botó aceptar i s'afageix l'element a la llista
    $(document).on("click", "#botonOK", function () {
        valorEntrada = document.getElementById('textoEntrado').value;
        $('#' + idPadre + ' li:eq(' + index + ')').before('<li id=' + RandomID() + ' class="grupo">' + '<span data-toggle="modal" data-target="#editModal" class="editar">' + valorEntrada + ' <i class="fa fa-edit" style="font-size:17px;"></i> </span> <ol id=' + RandomID() + '> <li> <button class="add btn btn-success" data-toggle="modal" data-target="#myModal"> + </button></li> </ol> </li>');
    });

    //Registra el click en el botó editar per saber quin element editar
    $(document).on("click", ".editar", function () {
        //posició on està el botó
        index = $(this).index();
        $('#textoEditado').val($(this).text());
        //Posició
        idPadre = $(this).parent().attr('id');
    });

    //Registra els canvis y els escriu en el HTML
    $(document).on("click", "#botonOKEdit", function () {
        valorEntrada = document.getElementById('textoEditado').value;
        $('#' + idPadre + '>span').html(valorEntrada + ' <i class="fa fa-edit" style="font-size:17px;"></i>');
    });

    //Registra el click en el botó editar per saber quin element editar
    $(document).on("click", ".eliminar", function () {
        $('#' + idPadre).remove();
    });

    //Guarda l'estat de la llista per pujar-ho a la BBDD
    $(document).on("click", "#guardar", function () {
        $("#ocult").val($("#lista").html());
        $("#lista").empty();
        $("#elform").submit();
    });

    //Genera un id aleatori
    function RandomID() {
        var ALPHABET = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var ID_LENGTH = 8;
        var idPropio = '';

        for (var i = 0; i < ID_LENGTH; i++) {
            idPropio += ALPHABET.charAt(Math.floor(Math.random() * ALPHABET.length));
        }

        return idPropio;
    }

</script>
